/* Global body settings */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 70px; /* Adjust this to match the exact height of the header */
}

/* Header settings */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0; /* Increased padding to give more space inside the header */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation bar settings */
nav ul {
    list-style: none;
