/* Global body settings */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 70px; /* Adjust this to match the exact height of the header */
}

/* Header settings */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0; /* Increased padding to give more space inside the header */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation bar settings */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Section settings */
section {
    padding: 20px;
    margin: 10px 0;
}

/* Project container settings */
.project {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
}

.project h3 {
    margin-top: 0;
}

/* Button settings */
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Footer settings */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    clear: both;
}

/* Minimum height settings for sections */
#about, #projects, #contact {
    min-height: 80vh;
}
